# Dependencies
/node_modules

# Compiled Typescript (development)
*.js
*.jsx
*.js.map
*.jsx.map

# Compiled Typescript (build)
/dist

# Include Storybook files
!/.storybook/**

# Include documentation site
!/docs/**
